.Contact{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(0,0,0,0.5);
    display: none;
}

.Contact-conatiner{
    /* border: solid; */
    width: 50%;
    height: 98%;
    background: #fff;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    align-items: center;
}

.contactCont{
    /* border: solid; */
    width: 80%;
}
.closeBtnCont{
    height: 5%;
    display: flex;
    align-items:self-end;
}
.closeBtnCont button{
    width: 50px;
    height: 100%;
    border-radius: 50%;
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 95%;
    color: #fff;
    border: none;
    background: rgb(240, 40, 184);
    cursor: pointer;
}

.headers{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
}
.contact-description{
    font-size: small;
}

form{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.sec-cont{
    /* border: solid; */
    display: flex;
    flex-direction: column;
    /* height: 90%; */
}
.infoSection{
    /* height: 80%; */
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.form-sub-cont{
    display: flex;
    align-items: center;
    /* border: solid; */
    justify-content: space-between;
}

.form-final-cont{
    display: flex;
    flex-direction: column;
    /* border: solid; */
    width: 50%;
    height: auto;
}
.form-final-cont input, select{
    height: 40px;
    width: 98%;
    background: rgb(249, 239, 239);
    border-radius: 10px;
    border: none;
    outline: none;
}

.helpSection{
    display: flex;
    flex-direction: column;
}
.checkboxGroup{
    display: flex;
}
.checkboxGroup label{
    font-size: small;
}

.additionalDetails{
    display: flex;
    flex-direction: column;
    /* border: solid; */
}
.Submit{
    border: solid;
    margin-top: 0;
    height: 30px;
    width: 30%;
    border: none;
    border-radius: 10px;
    color: #fff;
    background: rgb(240, 40, 184);
    cursor: pointer;
}
.additionalDetails  textarea{
    background: rgb(249, 239, 239);
    height: 50px;
    border: none;
}

.termsAndPolicies{
    /* border: solid; */
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.termsAndPolicies p{
    font-size: small;

}
.termsAndPolicies p a{
    text-decoration: underline;
}